@charset "UTF-8";
body
{
	background-color: white;
	background-image: linear-gradient(to right, aliceblue , rgb(163, 240, 234));
	background-repeat: no-repeat;
	height:100%;
}

h1
{
	text-align:center;
	font-family:Arial;
	font-size:40px;
	color: rgb(64,130,252);
	margin:50px 0px 65px 0px;
}

p
{
	text-align:justify;
	font-family:Arial;
	font-size:20px;
	line-height:30px;
	text-indent:70px;
	margin:0 50px 50px 30px;
}

ul
{
	font-family:Arial;
	font-size:20px;
	line-height:30px;
	margin:0 0 0 50px;
	color: rgb(64,130,252);
}

h3
{
	font-family:Arial;
	font-size:28px;
	margin:20px 0 20px 50px;
}

img
{
	height:200px;
	width:350px;
	position:absolute;
	top:400px;
	left:800px;
	float:right
}